@theme {
  --color-accent: #f89b4b;
  --color-accent-dim: rgba(248, 155, 75, 0.12);
  --color-accent-glow: rgba(248, 155, 75, 0.25);
  --color-bg: #0b0a08;
  --color-bg-2: #131210;
  --color-bg-card: #181614;
  --color-bg-code: #1c1a17;
  --color-border: rgba(255, 255, 255, 0.07);
  --color-border-hi: rgba(255, 255, 255, 0.12);
  --color-text: #f9f1e1;
  --color-text-dim: #9ca3af;
  --color-text-muted: #4f5666;
  --color-blue: #00a6e1;
  --color-green: rgb(163, 255, 133);
  --color-purple: #c792ea;
  --color-yellow: #ffcb6b;
}
